<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>wsw.nju</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>481DC6EA-F77D-4C0F-A77E-9DD737598FE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEC26611-6B44-45BD-A34B-3C98D1B7C996</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6CA92917-94DE-4F8C-8F2A-3E45FF0ABEA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>471EF2F5-E1F7-4B38-A5E4-518D5B8AA9C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96BCC828-622E-430D-9553-DF421B556F3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CA92917-94DE-4F8C-8F2A-3E45FF0ABEA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEC26611-6B44-45BD-A34B-3C98D1B7C996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDD33378-26CB-4713-A35D-4496482FC29D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDD33378-26CB-4713-A35D-4496482FC29D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96BCC828-622E-430D-9553-DF421B556F3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>nju.bbd</string>
	<key>description</key>
	<string>pps</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>paperSearch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pps</string>
				<key>subtext</key>
				<string>查找 '{query}' 有关的论文</string>
				<key>text</key>
				<string>论文搜索</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>481DC6EA-F77D-4C0F-A77E-9DD737598FE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./paperSearch.py $first</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BDD33378-26CB-4713-A35D-4496482FC29D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>first</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AEC26611-6B44-45BD-A34B-3C98D1B7C996</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>findpaper </string>
				<key>variables</key>
				<dict>
					<key>first</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>96BCC828-622E-430D-9553-DF421B556F3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>findpaper</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>请稍后</string>
				<key>script</key>
				<string>./paperdownload.py $first</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>正在搜索中</string>
				<key>title</key>
				<string>搜索论文</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6CA92917-94DE-4F8C-8F2A-3E45FF0ABEA1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>471EF2F5-E1F7-4B38-A5E4-518D5B8AA9C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>471EF2F5-E1F7-4B38-A5E4-518D5B8AA9C2</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>481DC6EA-F77D-4C0F-A77E-9DD737598FE4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>1. Set your first keyword.

2. Connect to your next object. A circle will appear on the connection between the two objects. Double-click it to reveal the connection settings.

3. Tick the "Don't close Alfred" checkbox and save. The connection circle will become a square to indicate that Alfred stays visible without a flicker between your first and second input.</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6CA92917-94DE-4F8C-8F2A-3E45FF0ABEA1</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>96BCC828-622E-430D-9553-DF421B556F3D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>4. Store the first query in a variable.</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>AEC26611-6B44-45BD-A34B-3C98D1B7C996</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>4. Store the first query in a variable.</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>BDD33378-26CB-4713-A35D-4496482FC29D</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
